h1{
    font-weight:"bold";
    align-self: center;
    
}


label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}
form{
    width: 100%;
}
input {
    width: 100%;
    padding: 10px;
    border: 2px solid #008080;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #005959;
    box-shadow: 0 0 5px #005959;
}


button{
    width: 100%;
}

#textArea{

    height:300px;
}

hr{
 
    display: block;

} 